body{
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-image:linear-gradient(#e66465, #9198e5);
}

h3{
  float: left;
  font-size: 25px;
  font-weight: 640;
  margin-left: 10px;
  margin-bottom: 10px;
  color: #e7e7e7;
  padding:6px;
  font-family:'sans-serif','helvetica';
}

.form-wrapper{
  width: 350px;
  height:390px;
  margin:150px 0px 0px 0px;
  padding: 15px 25px;
  border-radius: 5px;
  box-shadow: 0px 1px 0px rgba(0,0,0,0.6),inset 0px 1px 0px rgba(255,255,255,0.04);
  background: rgba(0,0,0,0.27);
}

.form-item input{

border: none;
background:transparent;
color: #fff;
margin-top:11px;
font-family: 'Open Sans', sans-serif;
font-size: 1.2em;
height: 49px;
padding: 0 16px;
width: 100%;
padding-left: 55px;

}

.form-item input:focus {
outline: none;
border:1.4px solid #cfecf0;
}

 input[type='password']{
background: transparent url("image/pass.jpg") no-repeat;
background-position: 10px 50%;
}

 input[type='email']{
background-image: url(image/user.jpg);
background-repeat: no-repeat;
background-position: 10px 50%;
}


.button-panel {
margin-bottom: 20px;
padding-top: 10px;
width: 100%;
}

.button-panel .button {
background: #00b6df;
border: none;
color: #fff;
cursor: pointer;
height: 45px;
font-family: 'helvetica','Open Sans', sans-serif;
font-size: 1.2em;
text-align: center;
text-transform: uppercase;
transition: background 0.6s linear;
width: 100%;
margin-top:10px;
}

.button:hover {
background: #6eb7cb;
}

.form-item input, .button-panel .button {
border-radius: 2px
}

.reminder {
text-align: center;
}

.reminder a {
color: #fff;
text-decoration: none;
transition: color 0.5s;
}
.reminder a:hover {
color: #666666;
}

@media only screen and (max-width:1080px) {

  body{

    background: green;
  }

  h3{
    float: left;
    font-size: 25px;
    font-weight: 640;
    margin-left: 10px;
    margin-bottom: 10px;
    color: #e7e7e7;
    padding:6px;
    font-family:'sans-serif','helvetica';
  }

  .form-wrapper{
    width: 90%;
    height:auto;
    margin:150px 0px 0px 0px;
    padding: 15px 25px;
    border-radius: 5px;
    box-shadow: 0px 1px 0px rgba(0,0,0,0.6),inset 0px 1px 0px rgba(255,255,255,0.04);
    background: rgba(0,0,0,0.27);
  }

  .form-item input{

  border: none;
  background:transparent;
  color: #fff;
  margin-top:11px;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2em;
  height: 90px;
  padding: 0 16px;
  width: 100%;
  padding-left: 55px;

  }

  .form-item input:focus {
  outline: none;
  border:1.4px solid #cfecf0;
  }

   input[type='password']{
  background: transparent url("image/pass.jpg") no-repeat;
  background-position: 10px 50%;
  }

   input[type='email']{
  background-image: url(image/user.jpg);
  background-repeat: no-repeat;
  background-position: 10px 50%;
  }

  .button-panel {
  margin-bottom: 20px;
  padding-top: 10px;
  width: 100%;
  }

  .button-panel .button {
  background: #00b6df;
  border: none;
  color: #fff;
  cursor: pointer;
  height: 60px;
  font-family: 'helvetica','Open Sans', sans-serif;
  font-size: 1.2em;
  text-align: center;
  text-transform: uppercase;
  transition: background 0.6s linear;
  width: 40%;
  margin-top:10px;
  }

  .button:hover {
  background: #6eb7cb;
  }

  .form-item input, .button-panel .button {
  border-radius: 2px
  }

  .reminder {
  text-align: center;
  }

  .reminder a {
  color: #fff;
  text-decoration: none;
  transition: color 0.5s;
  }
  .reminder a:hover {
  color: #666666;
  }



}
